@import url("./reset.css");

.cell{
    border: 1px solid rgb(255, 255, 255);
    height: 33.3%;
    font-weight: 800;
    flex-basis: 32%;
    border-radius: 6px;
    font-size: 80px;
}
.cell:hover{
    background-color: rgba(51, 51, 51, 0.397);
}
.centerlize{
    display: flex;
    align-items: center;
    justify-content: center;
}
#board{
    font-size: 40px;
    width: 50%;
    max-width: 500px;
    height: 60%;
    cursor: pointer;
    flex-wrap: wrap;
}
#container{
    height: 100vh;
}